html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#histoire {
    text-align: justify;
}

body {
  margin:0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
    position: relative;
    padding-bottom: 10rem;
    min-height: 100%;
}

.no_marge {
    margin-top: -24px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

#myTopnav{
    height: 76px;
    z-index: 150;
}
#logo{
    margin-top:0px;
}

.topnav {
  overflow: hidden;
  background-color: #E1EBFC;
  height: 56px;
  position : fixed;
  top : 0;
  width: 100%;
    z-index: 150;
}

.topnav a {
  margin-top:10px;
  float: left;
  display: block;
  color : black ;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 19px;
}

.topnav a:hover {
  background-color:  #F48C64;
  color: white;
}

.active {
  background-color: #E1EBFC;
}

.topnav .icon {
  display: none;
}
.imageSlide {
    min-width: 500px;
}

@media screen and (max-width: 600px) {
    .topnav {
        position: relative;
    }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .imageSlide {
        min-width: unset;
    }
}

.navbar-catchup {
    position: relative;
    margin-bottom: 56px;
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; height: auto !important;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

    .navbar-catchup {
        margin-bottom: 0 !important;
    }
}

/**
 * Footer Styles
 */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    min-height: 8rem;
    text-align: center;
    background-color: #33383b;
    color: #92999f;
}
.a-no-style, .a-no-style-all {
    color: inherit;
    text-decoration: none;
}
.a-no-style:hover {
    text-decoration: underline;
}

.no-margin{
    margin: 0;
}

/* Contact */
input[type=text], input[type=password], input[type=email], input[type=datetime-local], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Système de grille CSS */
.full-height {
    height: 90vh;
}
.row > div {
    float : left;
    margin : 0 10px;
}

@media only screen and (min-width: 1200px) {
    .row {
        max-width: 960px;
        margin: auto;
    }
}

    .row {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .row > div {
        margin : 0 0.5%;
    }
    .w-1 { width : 7.3%; }
    .w-2 { width : 15.6%; }
    .w-3 { width : 24%; }
    .w-4 { width : 32.3%; }
    .w-5 { width : 40.6%; }
    .w-6 { width : 49%; }
    .w-7 { width : 57.3%; }
    .w-8 { width : 65.6%; }
    .w-9 { width : 74%; }
    .w-10 { width : 82.3%; }
    .w-11 { width : 90.6%; }
    .w-12 { width : 99%; }

@media only screen and (max-width:500px) {
    .row {
        width : 100%;
    }
    .row > div {
        margin : 0 1%;
    }
    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 {
        width : 98%;
        float : none;
    }
}

/* SLIDER */
#slideshow {
    margin: 0 auto;
    position: relative;
    width: 100%;
    box-sizing:border-box;
    height: 100%;
    z-index: -99;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow > div > img {
    width:100%;
    height:100%;
    border-radius:20px;
}

#slideshow:hover i, #slideshow:hover .slider-dots{
    opacity: 1;
}


.slidebtn {
    z-index:99;
    background:transparent;
    outline:none;
    border:none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding:0 10px 0 10px;
}

.slidebtn:active,
.slidedtn:focus {
    outline:none;}

.slidebtn i {
    color:#F48C64;
    font-size:72px;
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.prev {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
}

.next {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
}


.slider-dots {
    opacity: 0.2;
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    position:absolute;
    left:50%;
    bottom:3%;
    transform: translate(-50%, 0);
    z-index:99;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.slider-dots li {
    color: #000;
    display: inline;
    font-size: 48px;
    margin-right: 5px;
    cursor:pointer;
}

.slider-dots li.active-dot {
    color: #fff;
}

/* CÔTÉ BACKEND */
.backend-card {
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 10px;

}
.backend-button {
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px transparent;
    background-color: #E1EBFC;
    cursor: pointer;
    margin-bottom: 5px;
}
.backend-button:hover {
    background-color: #F48C64;
}
.backend-button > a {
    color: black;
    text-decoration: none;
}
.big-backend {
    padding: 30px !important;
    font-size: 1.2em;
}
.backend-form {

}
.padding-top {
    padding-top: 20px;
}

/* PAGE DE CONNEXION */
.login-input {
    width: 60% !important;
}

p, blockquote {
    text-align: justify;
text-justify: inter-word;
    
}

#Restaurant{
  display: none;
}
#Hotel{
  display: none;
}
#Bar{
  display: none;
}
#Boutique{
  display: none;
}
#Transport{
  display: none;
}
#Banque{
  display: none;
}

.boutonCarte{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F48C64;
    border: none;
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.boutonCarte:hover{
  background-color: #F46C44;
}

.boutonCarte:active{
    background-color: #F46C44;
    transform: translateY(1px);
}

.center {
    text-align: center;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: white;

}
  /* Cadre "Contactez nous !" */
#contact {
  background: #E1EBFC;
  padding: 25px;
  margin: 10px 0;
    z-index: 100;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
  /* Titre */
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="text"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
    border-radius: .25rem;
    background: #F48C64;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
    border-radius: 1rem;
    -webkit-transition: color, border-radius 0.3s ease-in-out;
    -moz-transition: color, border-radius 0.3s ease-in-out;
    transition: color, border-radius 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
  font-family: 'Raleway', sans-serif;
}   
.slider-dots{
  position: relative;
  top: 120%;
}
.imgSlid{
  width: 100%;
  height:460px;
}

.index-img {
    border-radius: .25rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.li-header {
    font-size: large;
}
li {
    margin-bottom: 10px;
}
ul {
    margin: 0;
}



.sliderMaison{
    display: none;
}
.starter{
    display: initial;
}
.fa-angle-right{
    font-size: 150px;
    margin-top: 200px;
}
.fa-angle-left{
    font-size: 150px;
    margin-top: 200px;
}
#sliderGlobal{
    display: flex;
}

.img-container {
    height: 320px;
    overflow: hidden;
    max-width: 740px;
    background-position: center bottom;
    background-size: cover;
    margin: auto;
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.event-img-container {
    margin: auto;
    position: relative;
    padding: 20px;
}

.slider-angle {
    position: relative;
    color: #F48C64;
    z-index: 50;
}
a.anchor {
    display: block;
    position: relative;
    top: -56px;
    visibility: hidden;
}
.event-img {
    height: 100%;
    max-width: 100%;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.event-card {
    padding: 15px;
    border: solid rgba(0,0,0,.125);
    border-width: 0 0 1px 0;
    border-radius: .5rem;
    margin-bottom: 10px;
}

.map-responsive{
    overflow:hidden;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    width:100%;

}

.margin-bottom {
    margin-bottom: 100px !important;
}
#labelCaptcha{
    margin-left: 20%;
}
#imageCaptcha{
    position: relative;
    top: 10px;
}
#inputCaptcha{
    width:45%!important;
}
.error {
    color: red;
    padding: 10px;
    font-weight: bold;
}


@media print {
    #myTopnav {
        display: none;
    }
    #index-video {
        display: none;
    }
    .navbar-catchup {
        display: none;
    }
    #index-history {
        page-break-after: always;
    }
    #index-maps {
        display: none;
    }
    .sliderMaison {
        display: block;
        page-break-inside: avoid;
    }
    .img-container {
        display: none;
    }
    #footer-optional {
        display: none;
    }
    .event-img-container {
        display: none;
    }
    .event-card > .w-6 {
        width: 100%;
    }
    .event-card > .w-6 > button {
        display: none;
    }
    .event-card {
        page-break-inside: avoid;
    }
}